:root {
  --primary-color: #38598b;
  --secondary-color: #e7eaf6;
  --secondary-text-color: #272142;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p,
a,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h2 {
  font-size: 64px;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 72px;
}

.content-container h2 {
  font-size: 22px;
}

.content-container h3 {
  font-size: 24px;
  font-weight: bold;
}

.content-container p {
  font-size: 14px;
}

.content {
  margin: 60px 30px;
}

.content p {
  font-size: 20px;
}

.contact-container {
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 40px 80px;
}

.contact-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}

.btn-block {
  text-decoration: none;
  color: white;
  font-size: 18px;
  background: var(--primary-color);
  border-radius: 4px;
  padding: 18px 30px;
}

.btn-outline {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 16px;
  border-radius: 4px;
  padding: 18px 30px;
}

.project-details p {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 30px;
}

.project-details {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 38px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-details,
  .content-container {
    padding: 0;
    text-align: center;
  }

  .project-details h2 {
    font-size: 36px;
  }
}
